
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="GPS Process Discovery Test Suite">
    <test name="Smoke and Functional Tests">
        <groups>
            <run>
                <include name="smoke"/>
                <include name="content"/>
                <include name="responsive"/>
            </run>
        </groups>
        <classes>
            <class name="tests.LandingPageTest"/>
        </classes>
    </test>
</suite>
